In [1]:
import requests
import json
import pandas as pd
from pprint import pprint
from api_key import eia_api_key

In [2]:

capacity_api_call = requests.get(f'https://api.eia.gov/v2/electricity/state-electricity-profiles/capability/data/?api_key={eia_api_key}&frequency=annual&data[0]=capability&facets[producertypeid][]=TOT&start=2010&end=2020&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=5000').json()

key_stats_api_call = requests.get(f'https://api.eia.gov/v2/electricity/state-electricity-profiles/summary/data/?api_key={eia_api_key}&frequency=annual&data[0]=average-retail-price&data[1]=average-retail-price-rank&data[2]=capacity-elec-utilities&data[3]=capacity-elect-utilities-rank&data[4]=capacity-ipp&data[5]=capacity-ipp-rank&data[6]=carbon-dioxide&data[7]=carbon-dioxide-lbs&data[8]=carbon-dioxide-rank&data[9]=carbon-dioxide-rank-lbs&data[10]=direct-use&data[11]=direct-use-rank&data[12]=eop-sales&data[13]=eop-sales-rank&data[14]=fsp-sales-rank&data[15]=fsp-service-provider-sales&data[16]=generation-elect-utils&data[17]=generation-elect-utils-rank&data[18]=generation-ipp&data[19]=generation-ipp-rank&data[20]=net-generation&data[21]=net-generation-rank&data[22]=net-summer-capacity&data[23]=net-summer-capacity-rank&data[24]=nitrogen-oxide&data[25]=nitrogen-oxide-lbs&data[26]=nitrogen-oxide-rank&data[27]=nitrogen-oxide-rank-lbs&data[28]=prime-source&data[29]=sulfer-dioxide&data[30]=sulfer-dioxide-lbs&data[31]=sulfer-dioxide-rank&data[32]=sulfer-dioxide-rank-lbs&data[33]=total-retail-sales&data[34]=total-retail-sales-rank&start=2008&end=2018&sort[0][column]=average-retail-price&sort[0][direction]=asc&offset=0&length=5000').json()

In [3]:
state_key_stats = []

for x in key_stats_api_call['response']['data']:
    key_stats_energy_source = x['prime-source']
    key_stats_state = x['stateDescription']
    key_stats_period = x['period']
    key_stats_avg_price = x['average-retail-price']
    key_stats_carbon_per_mw = x['carbon-dioxide-lbs']
    key_stats_total_carbon = x['carbon-dioxide']
    
    
    state_key_stats.append({"State": key_stats_state,
                            'Year': key_stats_period,
                            'Energy Source': key_stats_energy_source,
                            'Average Price (Cents per KW Hour)': key_stats_avg_price,
                            'CO2 Emissions (lbs per MW Hour)': key_stats_carbon_per_mw,
                            'Total CO2 Emissions (thousand metric tons)': key_stats_total_carbon
        })

In [4]:
df_state_key_stats = pd.DataFrame(state_key_stats)

df_clean_state_key_stats = df_state_key_stats.drop(df_state_key_stats[df_state_key_stats['State'].str.contains('District of Columbia') | df_state_key_stats['State'].str.contains('United States')].index,inplace=False)
df_clean_state_key_stats

,State,Year,Energy Source,Average Price (Cents per KW Hour),CO2 Emissions (lbs per MW Hour),Total CO2 Emissions (thousand metric tons)
0,West Virginia,2008,Coal,5.61,2043,84610
1,Wyoming,2008,Coal,5.67,2216,46837
2,Idaho,2008,Hydroelectric,5.69,187,1017
3,Wyoming,2009,Coal,6.08,2136,44684
4,Wyoming,2010,Coal,6.20,2090,45703
...,...,...,...,...,...,...
567,Hawaii,2008,Petroleum,29.20,1750,9048
568,Hawaii,2011,Petroleum,31.59,1662,8100
569,Hawaii,2013,Petroleum,33.26,1592,7428
570,Hawaii,2014,Petroleum,33.43,1606,7448
571,Hawaii,2012,Petroleum,34.04,1602,7625

In [5]:
df_2008_state_key_stats = df_clean_state_key_stats.loc[df_clean_state_key_stats['Year'] == 2008]
df_2018_state_key_stats = df_clean_state_key_stats.loc[df_clean_state_key_stats['Year'] == 2018]

df_2008_state_key_stats.reset_index(drop=True, inplace=True)
df_2018_state_key_stats.reset_index(drop=True, inplace=True)

# print(df_2008_state_key_stats.loc[(df_2008_state_key_stats['Average Price (Cents per KW Hour)'].idxmax())])
# print(df_2018_state_key_stats.loc[(df_2008_state_key_stats['Average Price (Cents per KW Hour)'].idxmin())])
# print(df_2018_state_key_stats['Average Price (Cents per KW Hour)'].median())

In [6]:
df_2008_state_key_stats.sort_values(by='Average Price (Cents per KW Hour)')

,State,Year,Energy Source,Average Price (Cents per KW Hour),CO2 Emissions (lbs per MW Hour),Total CO2 Emissions (thousand metric tons)
0,West Virginia,2008,Coal,5.61,2043,84610
1,Wyoming,2008,Coal,5.67,2216,46837
2,Idaho,2008,Hydroelectric,5.69,187,1017
3,Kentucky,2008,Coal,6.26,2114,94028
4,Utah,2008,Coal,6.49,1860,39381
5,Washington,2008,Hydroelectric,6.55,272,13686
6,Nebraska,2008,Coal,6.58,1526,22460
7,North Dakota,2008,Coal,6.69,2210,32887
8,Missouri,2008,Coal,6.84,1877,77650
9,Iowa,2008,Coal,6.89,1912,46137
10,Indiana,2008,Coal,7.09,2118,124660
11,South Dakota,2008,Coal,7.14,1254,4038
12,Oregon,2008,Hydroelectric,7.24,405,10821
13,Kansas,2008,Coal,7.45,1760,37315
14,Arkansas,2008,Coal,7.60,1225,30653
15,Montana,2008,Coal,7.72,1511,20355
16,Minnesota,2008,Coal,7.79,1479,36821
17,Oklahoma,2008,Coal,7.81,1539,53400
18,South Carolina,2008,Nuclear,7.85,927,42543
19,North Carolina,2008,Coal,7.96,1324,75344
20,Virginia,2008,Coal,8.00,1253,41402
21,Tennessee,2008,Coal,8.18,1424,58671
22,New Mexico,2008,Coal,8.35,1837,30899
23,Ohio,2008,Coal,8.39,1851,129061
25,Alabama,2008,Coal,8.59,1254,83134
24,Colorado,2008,Coal,8.59,1715,41659
26,Georgia,2008,Coal,8.84,1450,89750
27,Michigan,2008,Coal,8.93,1482,77468
28,Mississippi,2008,Natural Gas,8.99,1183,25920
29,Wisconsin,2008,Coal,9.00,1719,49593
30,Arizona,2008,Coal,9.11,1085,58890
31,Illinois,2008,Coal,9.23,1174,106430
32,Pennsylvania,2008,Coal,9.33,1227,123997
33,Louisiana,2008,Natural Gas,9.44,1302,54736
34,Nevada,2008,Natural Gas,9.89,1138,18144
35,Florida,2008,Natural Gas,10.74,1213,121052
36,Texas,2008,Natural Gas,10.99,1373,252710
37,Vermont,2008,Nuclear,12.33,2,7
38,Delaware,2008,Coal,12.38,1929,6597
39,California,2008,Natural Gas,12.49,662,62549
40,Maryland,2008,Coal,13.01,1354,29155
41,Maine,2008,Natural Gas,13.80,684,5314
42,New Jersey,2008,Nuclear,14.43,694,20097
43,New Hampshire,2008,Nuclear,14.63,652,6782
44,Alaska,2008,Natural Gas,14.74,1421,4376
45,Rhode Island,2008,Natural Gas,16.04,890,2988
46,Massachusetts,2008,Natural Gas,16.23,1152,22263
47,New York,2008,Natural Gas,16.47,739,47157
48,Connecticut,2008,Nuclear,17.80,684,9451
49,Hawaii,2008,Petroleum,29.20,1750,9048

In [7]:
df_2008_state_key_stats.sort_values(by='CO2 Emissions (lbs per MW Hour)')

,State,Year,Energy Source,Average Price (Cents per KW Hour),CO2 Emissions (lbs per MW Hour),Total CO2 Emissions (thousand metric tons)
37,Vermont,2008,Nuclear,12.33,2,7
2,Idaho,2008,Hydroelectric,5.69,187,1017
5,Washington,2008,Hydroelectric,6.55,272,13686
12,Oregon,2008,Hydroelectric,7.24,405,10821
43,New Hampshire,2008,Nuclear,14.63,652,6782
39,California,2008,Natural Gas,12.49,662,62549
48,Connecticut,2008,Nuclear,17.80,684,9451
41,Maine,2008,Natural Gas,13.80,684,5314
42,New Jersey,2008,Nuclear,14.43,694,20097
47,New York,2008,Natural Gas,16.47,739,47157
45,Rhode Island,2008,Natural Gas,16.04,890,2988
18,South Carolina,2008,Nuclear,7.85,927,42543
30,Arizona,2008,Coal,9.11,1085,58890
34,Nevada,2008,Natural Gas,9.89,1138,18144
46,Massachusetts,2008,Natural Gas,16.23,1152,22263
31,Illinois,2008,Coal,9.23,1174,106430
28,Mississippi,2008,Natural Gas,8.99,1183,25920
35,Florida,2008,Natural Gas,10.74,1213,121052
14,Arkansas,2008,Coal,7.60,1225,30653
32,Pennsylvania,2008,Coal,9.33,1227,123997
20,Virginia,2008,Coal,8.00,1253,41402
11,South Dakota,2008,Coal,7.14,1254,4038
25,Alabama,2008,Coal,8.59,1254,83134
33,Louisiana,2008,Natural Gas,9.44,1302,54736
19,North Carolina,2008,Coal,7.96,1324,75344
40,Maryland,2008,Coal,13.01,1354,29155
36,Texas,2008,Natural Gas,10.99,1373,252710
44,Alaska,2008,Natural Gas,14.74,1421,4376
21,Tennessee,2008,Coal,8.18,1424,58671
26,Georgia,2008,Coal,8.84,1450,89750
16,Minnesota,2008,Coal,7.79,1479,36821
27,Michigan,2008,Coal,8.93,1482,77468
15,Montana,2008,Coal,7.72,1511,20355
6,Nebraska,2008,Coal,6.58,1526,22460
17,Oklahoma,2008,Coal,7.81,1539,53400
24,Colorado,2008,Coal,8.59,1715,41659
29,Wisconsin,2008,Coal,9.00,1719,49593
49,Hawaii,2008,Petroleum,29.20,1750,9048
13,Kansas,2008,Coal,7.45,1760,37315
22,New Mexico,2008,Coal,8.35,1837,30899
23,Ohio,2008,Coal,8.39,1851,129061
4,Utah,2008,Coal,6.49,1860,39381
8,Missouri,2008,Coal,6.84,1877,77650
9,Iowa,2008,Coal,6.89,1912,46137
38,Delaware,2008,Coal,12.38,1929,6597
0,West Virginia,2008,Coal,5.61,2043,84610
3,Kentucky,2008,Coal,6.26,2114,94028
10,Indiana,2008,Coal,7.09,2118,124660
7,North Dakota,2008,Coal,6.69,2210,32887
1,Wyoming,2008,Coal,5.67,2216,46837

In [8]:
df_2018_state_key_stats.sort_values(by='Average Price (Cents per KW Hour)')

,State,Year,Energy Source,Average Price (Cents per KW Hour),CO2 Emissions (lbs per MW Hour),Total CO2 Emissions (thousand metric tons)
0,Louisiana,2018,Natural Gas,7.71,1094,50770
1,Arkansas,2018,Coal,7.78,1241,38349
2,Washington,2018,Hydroelectric,8.00,201,10661
3,Wyoming,2018,Coal,8.09,2100,44014
4,Oklahoma,2018,Natural Gas,8.09,880,34476
5,Idaho,2018,Hydroelectric,8.17,214,1766
6,Utah,2018,Coal,8.21,1595,28544
7,Texas,2018,Natural Gas,8.48,1060,230076
8,Kentucky,2018,Coal,8.52,1850,66267
9,Nevada,2018,Natural Gas,8.67,777,14005
10,West Virginia,2018,Coal,8.72,1970,60203
11,Montana,2018,Coal,8.84,1218,15614
12,Oregon,2018,Hydroelectric,8.85,302,8800
13,North Dakota,2018,Coal,8.91,1615,31282
14,Iowa,2018,Coal,8.92,1189,34253
15,Nebraska,2018,Coal,9.02,1519,25525
16,Mississippi,2018,Natural Gas,9.24,907,26157
17,North Carolina,2018,Natural Gas,9.25,814,49642
18,New Mexico,2018,Coal,9.35,1242,18442
19,Virginia,2018,Natural Gas,9.48,772,33504
20,Tennessee,2018,Nuclear,9.58,790,29303
21,Illinois,2018,Nuclear,9.60,846,72261
22,Georgia,2018,Natural Gas,9.62,933,54803
23,Alabama,2018,Natural Gas,9.63,851,56140
24,South Carolina,2018,Nuclear,9.67,639,28874
25,Indiana,2018,Coal,9.75,1775,91554
26,Missouri,2018,Coal,9.93,1697,65623
27,Ohio,2018,Coal,9.94,1361,78051
28,South Dakota,2018,Hydroelectric,9.97,509,2921
29,Colorado,2018,Coal,10.02,1379,34713
30,Pennsylvania,2018,Nuclear,10.10,787,77031
31,Florida,2018,Natural Gas,10.32,971,107792
32,Minnesota,2018,Coal,10.37,1066,29805
33,Delaware,2018,Natural Gas,10.55,1126,3193
34,Wisconsin,2018,Coal,10.58,1394,41779
35,Kansas,2018,Coal,10.72,1010,23748
36,Arizona,2018,Natural Gas,10.85,919,46757
37,Michigan,2018,Coal,11.40,1167,61435
38,Maryland,2018,Nuclear,11.57,896,17839
39,New Jersey,2018,Natural Gas,13.23,554,18912
40,Maine,2018,Hydroelectric,13.44,429,2202
41,New York,2018,Natural Gas,14.83,464,27936
42,Vermont,2018,Hydroelectric,15.13,10,10
43,California,2018,Natural Gas,16.58,491,43579
44,New Hampshire,2018,Nuclear,17.01,282,2191
45,Rhode Island,2018,Natural Gas,18.10,879,3348
46,Connecticut,2018,Natural Gas,18.41,535,9591
47,Massachusetts,2018,Natural Gas,18.50,808,9976
48,Alaska,2018,Natural Gas,19.36,1194,3390
49,Hawaii,2018,Petroleum,29.18,1616,7197

In [9]:
df_2018_state_key_stats.sort_values(by='CO2 Emissions (lbs per MW Hour)')

,State,Year,Energy Source,Average Price (Cents per KW Hour),CO2 Emissions (lbs per MW Hour),Total CO2 Emissions (thousand metric tons)
42,Vermont,2018,Hydroelectric,15.13,10,10
2,Washington,2018,Hydroelectric,8.00,201,10661
5,Idaho,2018,Hydroelectric,8.17,214,1766
44,New Hampshire,2018,Nuclear,17.01,282,2191
12,Oregon,2018,Hydroelectric,8.85,302,8800
40,Maine,2018,Hydroelectric,13.44,429,2202
41,New York,2018,Natural Gas,14.83,464,27936
43,California,2018,Natural Gas,16.58,491,43579
28,South Dakota,2018,Hydroelectric,9.97,509,2921
46,Connecticut,2018,Natural Gas,18.41,535,9591
39,New Jersey,2018,Natural Gas,13.23,554,18912
24,South Carolina,2018,Nuclear,9.67,639,28874
19,Virginia,2018,Natural Gas,9.48,772,33504
9,Nevada,2018,Natural Gas,8.67,777,14005
30,Pennsylvania,2018,Nuclear,10.10,787,77031
20,Tennessee,2018,Nuclear,9.58,790,29303
47,Massachusetts,2018,Natural Gas,18.50,808,9976
17,North Carolina,2018,Natural Gas,9.25,814,49642
21,Illinois,2018,Nuclear,9.60,846,72261
23,Alabama,2018,Natural Gas,9.63,851,56140
45,Rhode Island,2018,Natural Gas,18.10,879,3348
4,Oklahoma,2018,Natural Gas,8.09,880,34476
38,Maryland,2018,Nuclear,11.57,896,17839
16,Mississippi,2018,Natural Gas,9.24,907,26157
36,Arizona,2018,Natural Gas,10.85,919,46757
22,Georgia,2018,Natural Gas,9.62,933,54803
31,Florida,2018,Natural Gas,10.32,971,107792
35,Kansas,2018,Coal,10.72,1010,23748
7,Texas,2018,Natural Gas,8.48,1060,230076
32,Minnesota,2018,Coal,10.37,1066,29805
0,Louisiana,2018,Natural Gas,7.71,1094,50770
33,Delaware,2018,Natural Gas,10.55,1126,3193
37,Michigan,2018,Coal,11.40,1167,61435
14,Iowa,2018,Coal,8.92,1189,34253
48,Alaska,2018,Natural Gas,19.36,1194,3390
11,Montana,2018,Coal,8.84,1218,15614
1,Arkansas,2018,Coal,7.78,1241,38349
18,New Mexico,2018,Coal,9.35,1242,18442
27,Ohio,2018,Coal,9.94,1361,78051
29,Colorado,2018,Coal,10.02,1379,34713
34,Wisconsin,2018,Coal,10.58,1394,41779
15,Nebraska,2018,Coal,9.02,1519,25525
6,Utah,2018,Coal,8.21,1595,28544
13,North Dakota,2018,Coal,8.91,1615,31282
49,Hawaii,2018,Petroleum,29.18,1616,7197
26,Missouri,2018,Coal,9.93,1697,65623
25,Indiana,2018,Coal,9.75,1775,91554
8,Kentucky,2018,Coal,8.52,1850,66267
10,West Virginia,2018,Coal,8.72,1970,60203
3,Wyoming,2018,Coal,8.09,2100,44014

In [10]:
display(df_state_key_stats.groupby('State').count())

,Year,Energy Source,Average Price (Cents per KW Hour),CO2 Emissions (lbs per MW Hour),Total CO2 Emissions (thousand metric tons)
State,,,,,
Alabama,11,11,11,11,11
Alaska,11,11,11,11,11
Arizona,11,11,11,11,11
Arkansas,11,11,11,11,11
California,11,11,11,11,11
Colorado,11,11,11,11,11
Connecticut,11,11,11,11,11
Delaware,11,11,11,11,11
District of Columbia,11,11,11,11,11
Florida,11,11,11,11,11
Georgia,11,11,11,11,11
Hawaii,11,11,11,11,11
Idaho,11,11,11,11,11
Illinois,11,11,11,11,11
Indiana,11,11,11,11,11
Iowa,11,11,11,11,11
Kansas,11,11,11,11,11
Kentucky,11,11,11,11,11
Louisiana,11,11,11,11,11
Maine,11,11,11,11,11
Maryland,11,11,11,11,11
Massachusetts,11,11,11,11,11
Michigan,11,11,11,11,11
Minnesota,11,11,11,11,11
Mississippi,11,11,11,11,11
Missouri,11,11,11,11,11
Montana,11,11,11,11,11
Nebraska,11,11,11,11,11
Nevada,11,11,11,11,11
New Hampshire,11,11,11,11,11
New Jersey,11,11,11,11,11
New Mexico,11,11,11,11,11
New York,11,11,11,11,11
North Carolina,11,11,11,11,11
North Dakota,11,11,11,11,11
Ohio,11,11,11,11,11
Oklahoma,11,11,11,11,11
Oregon,11,11,11,11,11
Pennsylvania,11,11,11,11,11
Rhode Island,11,11,11,11,11
South Carolina,11,11,11,11,11
South Dakota,11,11,11,11,11
Tennessee,11,11,11,11,11
Texas,11,11,11,11,11
United States,11,11,11,11,11
Utah,11,11,11,11,11
Vermont,11,11,11,11,11
Virginia,11,11,11,11,11
Washington,11,11,11,11,11
West Virginia,11,11,11,11,11
Wisconsin,11,11,11,11,11
Wyoming,11,11,11,11,11

In [11]:
state_production_capability = []

for x in capacity_api_call['response']['data']:
    production_capability = x['capability']
    state = x['stateDescription']
    period = x['period']
    energy_source = x['energySourceDescription']
    producer_type = x['producerTypeDescription']
    
    state_production_capability.append({"Production Capability (MW)": production_capability,
                                        'State': state,
                                        'Year': period,
                                        'Energy Source': energy_source,
                                        'Producer Type': producer_type
        })

In [12]:
df_state_production_capability = pd.DataFrame(state_production_capability)

df_state_production_capability.head(50)

,Production Capability (MW),State,Year,Energy Source,Producer Type
0,44442.3,Illinois,2020,All,All sectors
1,66.1,Idaho,2020,Wood,All sectors
2,970.4,Idaho,2020,Wind,All sectors
3,242.0,Idaho,2020,Solar - PV,All sectors
4,242.0,Idaho,2020,Solar,All sectors
5,5.4,Idaho,2020,Petroleum - IC,All sectors
6,5.4,Idaho,2020,Petroleum,All sectors
7,20.2,Idaho,2020,Other Biomass,All sectors
8,14.8,Idaho,2020,Other,All sectors
9,11.7,Idaho,2020,Natural Gas - ST,All sectors
10,552.0,Idaho,2020,Natural Gas - GT,All sectors
11,547.7,Idaho,2020,Natural Gas - CC,All sectors
12,1111.4,Idaho,2020,Natural Gas,All sectors
13,2767.4,Idaho,2020,Hydroelectric,All sectors
14,10.0,Idaho,2020,Geothermal,All sectors
15,5.0,Idaho,2020,Coal,All sectors
16,5212.7,Idaho,2020,All,All sectors
17,43.6,Ohio,2020,Wood,All sectors
18,852.5,Ohio,2020,Wind,All sectors
19,111.5,Ohio,2020,Solar - PV,All sectors
20,111.5,Ohio,2020,Solar,All sectors
21,136.0,Ohio,2020,Petroleum - ST,All sectors
22,6.0,Ohio,2020,Petroleum - OTH,All sectors
23,191.7,Ohio,2020,Petroleum - IC,All sectors
24,315.4,Ohio,2020,Petroleum - GT,All sectors
25,649.1,Ohio,2020,Petroleum,All sectors
26,179.1,Ohio,2020,Other Gas,All sectors
27,94.7,Ohio,2020,Other Biomass,All sectors
28,2134.0,Ohio,2020,Nuclear,All sectors
29,179.2,Ohio,2020,Natural Gas - ST,All sectors
30,36.8,Ohio,2020,Natural Gas - IC,All sectors
31,5574.4,Ohio,2020,Natural Gas - GT,All sectors
32,7041.3,Ohio,2020,Natural Gas - CC,All sectors
33,12831.7,Ohio,2020,Natural Gas,All sectors
34,101.9,Ohio,2020,Hydroelectric,All sectors
35,10000.5,Ohio,2020,Coal,All sectors
36,33.0,Ohio,2020,Battery,All sectors
37,27031.6,Ohio,2020,All,All sectors
38,740.4,Nevada,2020,Coal,All sectors
39,12102.7,Nevada,2020,All,All sectors
40,2557.9,New Mexico,2020,Wind,All sectors
41,733.8,New Mexico,2020,Solar - PV,All sectors
42,733.8,New Mexico,2020,Solar,All sectors
43,29.0,New Mexico,2020,Petroleum - IC,All sectors
44,17.0,New Mexico,2020,Petroleum - GT,All sectors
45,46.0,New Mexico,2020,Petroleum,All sectors
46,5.4,New Mexico,2020,Other Biomass,All sectors
47,0.7,New Mexico,2020,Other,All sectors
48,792.0,New Mexico,2020,Natural Gas - ST,All sectors
49,47.7,New Mexico,2020,Natural Gas - IC,All sectors

In [13]:
df_agg_production_capability = df_state_production_capability.drop(df_state_production_capability[df_state_production_capability['Energy Source'].str.contains('-')].index,inplace=False)

display(df_agg_production_capability)

,Production Capability (MW),State,Year,Energy Source,Producer Type
0,44442.3,Illinois,2020,All,All sectors
1,66.1,Idaho,2020,Wood,All sectors
2,970.4,Idaho,2020,Wind,All sectors
4,242.0,Idaho,2020,Solar,All sectors
6,5.4,Idaho,2020,Petroleum,All sectors
...,...,...,...,...,...
4991,11.2,New Jersey,2014,Other,All sectors
4992,4110.1,New Jersey,2014,Nuclear,All sectors
4997,11217.0,New Jersey,2014,Natural Gas,All sectors
4998,12.3,New Jersey,2014,Hydroelectric,All sectors
4999,1870.0,New Jersey,2014,Coal,All sectors

In [14]:
df_agg_production_capability.groupby(['State','Year','Energy Source']).sum()

                            Production Capability (MW)
State   Year Energy Source
Alabama 2014 All                               31953.3
             Coal                              10746.4
             Hydroelectric                      3271.0
             Natural Gas                       12111.2
             Nuclear                            5066.4
...                                                ...
Wyoming 2020 Other                                12.4
             Other Gas                             3.3
             Petroleum                             5.8
             Solar                                92.0
             Wind                               2504.9

[3053 rows x 1 columns]

In [15]:
df_grouped_state = df_state_production_capability.groupby(['State']).count()

display(df_grouped_state)

,Production Capability (MW),Year,Energy Source,Producer Type
State,,,,
Alabama,101,101,101,101
Alaska,89,89,89,89
Arizona,117,117,117,117
Arkansas,95,95,95,95
California,149,149,149,149
Colorado,112,112,112,112
Connecticut,107,107,107,107
Delaware,70,70,70,70
District of Columbia,22,22,22,22
Florida,94,94,94,94
Georgia,93,93,93,93
Hawaii,95,95,95,95
Idaho,92,92,92,92
Illinois,110,110,110,110
Indiana,108,108,108,108
Iowa,100,100,100,100
Kansas,99,99,99,99
Kentucky,72,72,72,72
Louisiana,112,112,112,112
Maine,80,80,80,80
Maryland,98,98,98,98
Massachusetts,109,109,109,109
Michigan,120,120,120,120
Minnesota,114,114,114,114
Mississippi,90,90,90,90
Missouri,108,108,108,108
Montana,79,79,79,79
Nebraska,78,78,78,78
Nevada,100,100,100,100
New Hampshire,75,75,75,75
New Jersey,128,128,128,128
New Mexico,103,103,103,103
New York,125,125,125,125
North Carolina,90,90,90,90
North Dakota,64,64,64,64
Ohio,126,126,126,126
Oklahoma,95,95,95,95
Oregon,82,82,82,82
Pennsylvania,128,128,128,128
Rhode Island,82,82,82,82
South Carolina,101,101,101,101
South Dakota,78,78,78,78
Tennessee,84,84,84,84
Texas,106,106,106,106
United States,146,146,146,146
Utah,101,101,101,101
Vermont,54,54,54,54
Virginia,87,87,87,87
Washington,90,90,90,90
West Virginia,61,61,61,61
Wisconsin,99,99,99,99
Wyoming,82,82,82,82